<nav class="navbar fixed-top navbar-expand-sm navbar justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/images/gerpro-nav.png">&nbsp;{{title}}</a>
  <ng-progress [color]="'white'" [direction]="'rightToLeftIncreased'"></ng-progress>
  <div *ngIf="showBar">
    <ul>
      <li>
        <a class="nav-link" routerLink="/newTask" routerLinkActive="active">Nova Tarefa</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/myTasks" routerLinkActive="active">Minhas Tarefas</a>
      </li>
    </ul>
    <button class="btn btn-outline-info my-2 my-sm-0" type="button" type="button" (click)="logout()">Sair</button>
  </div>
</nav>

<div class="router">
  <router-outlet></router-outlet>
</div>

<div class="footer fixed-bottom">
  <label>Copyright 2017 - {{version}}</label>
</div>
