/*.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 50%;
}
.vertical-align-center {
 
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
 
    width:inherit;
    height:inherit;
 
    margin: 0 auto;
}*/