<div style="width: 900px">
  <div class="col-md-12">
    {{taskCheck | json}}
  </div>
</div>
<form #f="ngForm">

  <div class="row">
    <div class="input-group form-group">
      <div class="row">
        <div class="col-6">
          <input id="txtTaskName" name="name" [(ngModel)]="taskCheck.name" type="text" class="form-control" placeholder="Tarefa" aria-describedby="txtTaskName">
        </div>
        <div class="col-6">
          <input id="txtTaskDescription" name="description" [(ngModel)]="taskCheck.description" type="text" class="form-control" placeholder="Descrição da Tarefa"
            aria-describedby="txtTaskDescription">
        </div>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label for="checkerId">Conferente:</label>
      <select name="checkerId" id="checker" [(ngModel)]="taskCheck.user_checker_id" class="form-control">
        <option value="0">Selecione...</option>
        <option *ngFor="let c of checkers" value="{{c.id}}">{{c.name}}</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <label for="place">Locais:</label>
      <select name="placeId" id="place" [(ngModel)]="taskCheck.place_id" class="form-control">
        <option value="">Selecione...</option>
        <option *ngFor="let p of places" value="{{p.id}}">{{p.name}}</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="periodicity">Periodicidade:</label>
      <select name="periodicityId" id="periodicity" [(ngModel)]="taskCheck.periodicity_id" class="form-control">
        <option value="">Selecione...</option>
        <option *ngFor="let p of periodicities" value="{{p.key_value}}">{{p.key_name | capitalize: true}}</option>
      </select>
    </div>

    <div class="col-md-4 inline">
      <div class="row inline">
        <div class="col-md-6">
          <label for="notificationId">Tipo de Notificação</label>
        </div>
        <div class="col-md-2 ">
          <a class="btn-floating btn waves-effect waves-light green " (click)="showAddNotificationType()" >
            <i class="material-icons">add_circle_outline</i>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Dias da Semana:</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <input id=chkSunday type="checkbox" [(ngModel)]=taskCheck.weeks_days.sunday name="sunday" />
      <label for="chkSunday">Dom</label>
      <input id=chkMonday type="checkbox" [(ngModel)]=taskCheck.weeks_days.monday name="monday" />
      <label for="chkMonday">Seg</label>

      <input id=chkTuesday type="checkbox" [(ngModel)]=taskCheck.weeks_days.tuesday name="tuesday" />
      <label for="chkTuesday">Ter</label>

      <input id=chkWednesday type="checkbox" [(ngModel)]=taskCheck.weeks_days.wednesday name="wednesday" />
      <label for="chkWednesday">Qua</label>

      <input id=chkThursday type="checkbox" [(ngModel)]=taskCheck.weeks_days.thursday name="thursday" />
      <label for="chkThursday">Qui</label>

      <input id=chkFriday type="checkbox" [(ngModel)]=taskCheck.weeks_days.friday name="friday" />
      <label for="chkFriday">Sex</label>

      <input id=chkSaturday type="checkbox" [(ngModel)]=taskCheck.weeks_days.saturday name="saturday" />
      <label for="chkSaturday">Sáb</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <input class="btn" (click)="eraseAll()" type="button" value="Limpar">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <input class="btn" type="button" value="Cadastrar">
    </div>

  </div>
<!-- verificar a possibilidade de insterir o componente add-notification como modal aqui-->
   <!-- Modal Trigger -->
   <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
   
     <!-- Modal Structure -->
     <div id="modal1" class="modal modal-fixed-footer">
       <div class="modal-content">
         <h4>Modal Header</h4>
         <p>A bunch of text</p>
       </div>
       <div class="modal-footer">
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
       </div>
     </div>
             
</form>
