/*[type="checkbox"] + label {
    padding-left: 24px;
    padding-right: 11px;
}

.float-right{
    float: right;
    padding-left: 120px;

}

.test{
    background: red;
}
.test2{
    background: green;
}

.check-group{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.lblChk{
    cursor: pointer;
}

.check-group input{  
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: blue;
}
*/