<form>

  <div class="row">
    <div class="input-group">
      <div class="row">
        <div class="col-6">
          <input id="txtTaskName" type="text" class="form-control" placeholder="Tarefa" aria-describedby="txtTaskName">
        </div>
        <div class="col-6">
          <input id="txtTaskDescription" type="text" class="form-control" placeholder="Descrição da Tarefa" aria-describedby="txtTaskDescription">
        </div>
      </div>
    </div>
  </div>
   
      <div *ngFor="let day of daysWeeks" class="checkbox check-primary">        
        <input *ngIf="day.check; else uncheck" id="{{day.day}}-checkbox" type="checkbox" checked={{day.check}}  >
        <ng-template #uncheck>
          <input id="{{day.day}}-checkbox" type="checkbox">
        </ng-template>
        <label for="{{day.day}}-checkbox">            {{day.name}}         </label>
      </div>
  
    <!-- <div class="checkbox check-primary ">
        <input id="checkbox-1" type="checkbox" value="">
        <label for="checkbox-1">Guardar usuario</label>
    </div> -->

  <div class="row">
    <div class="col-md-6">
      <input class="btn" type="button" value="Limpar">
    </div>
    <div class="col-md-6">
      <input class="btn" type="button" value="Cadastrar">
    </div>
  </div>



</form>
