.collection-header {
  vertical-align: center;
}

.add-button {
  margin: -10px;
}

h5 {
  font-size: 14px;
}

i {
  cursor: pointer;
}

li.collection-item {
  padding: 0px;
  height: 30px;
}

.v-scrollable-collection {
  height: 150px;
  overflow-y: auto;
}

.collection-header {
  height: 50px;
  background-color: inherit;
}
