<ul class="collection with-header ">
  <li class="collection-header">
    <div class="row">
      <div class="col-md-10">
        <h5>Tipos de Notificações</h5>
      </div>
      <div class="col-md-2">
        <a class="secondary-content btn-flat" (click)="showAddNotificationType()">
          <i class="material-icons">add_circle_outline</i>
        </a>
      </div>
    </div>
  </li>
  <div class="row">
    <div class="v-scrollable-collection">
      <li *ngFor="let n of notifications" class="collection-item">
        <div class="row">
          <div class="col-md-3">{{n.notification_type_id}}</div>
          <div class="col-md-3">{{n.pre_notify_days}}</div>
          <div class="col-md-3">{{n.pre_notify_hours | zeroLeading:2}}:{{n.pre_notify_minutes| zeroLeading:2}}</div>
          <div class="col-md-3">
            <a class="secondary-content btn-flat" (click)="eraseNotification(n)">
              <i class="material-icons">delete_forever</i>
            </a>
          </div>
        </div>
      </li>
    </div>
  </div>
</ul>
